* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono;
    font-size: 14px;
    border-radius : 20px;
}

window#waybar:not(.empty) {
    background-color: rgba(30, 30, 30, 0.4); /* Add some transparency */
    border-radius : 0px;
    /* You can add other styles here too */
}

window#waybar {
    background-color: rgba(20, 20, 20, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    /*border: 2px solid rgba(0, 0, 0, 1);*/
    padding:2px;
}

#taskbar button.active {
	border-bottom: 3px solid white;
    font-size: 14px;
    background-color : rgba(90,150,90,0.8);
}
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius : 20px;
}
tooltip label {
  color: white;
}

window#waybar.hidden {
    opacity: 0;
}

#group1 {

    color: #eeeeee;
  /* border: 2px solid rgba(155, 155, 155, 1); */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius:20px;
}


#group2
{
/**/
/*     color: #eeeeee; */
   /* border: 2px solid rgba(155, 155, 155, 1); */ 
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     border-radius:20px; */
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #000000;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: #000000;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces button {
  border: 2px solid rgba(0, 0, 0, 1);
    background-color: #000000;
    /*box-shadow: inset 0 -3px #ffffff;*/
    color: #eeeeee;
    opacity:0.8;
}

#workspaces button:hover {
    background: rgba(100, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #339934;
    /* box-shadow: inset 0 -3px #ffffff; */
    color: #eeeeee;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
        border-radius : 20px;
    /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {

  /* border: 2px solid rgba(155, 155, 155, 1); */
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: inset 0 -3px #338899;
    color: #ffffff ;
}

#battery {
    color: #eeeeee;
/*   border: 2px solid rgba(155, 155, 155, 1); */
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     border-radius:20; */
}

#battery.charging, #battery.plugged {
    color: #ffff00;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
/*   border: 2px solid rgba(155, 155, 155, 1); */
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     border-radius:20; */
    color: #eeeeee ;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    color: #ffffff;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /*background-color: #2980b9; */
    color: #eeeeee;
  /* border: 2px solid rgba(155, 155, 155, 1); */
  /*   background-color: rgba(0, 0, 0, 0.8); */
  /*   border-radius:20; */
}

#tray > .passive {
    /* -gtk-icon-effect: dim; */
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

window#waybar.empty #window{
        padding: 2px 1px;

  background-color: rgba(0,0,0,0); /* color when no window */
      border: 1px;
}


#window {
    border: 4px solid rgba(20,20,20, 1); 
    background-color : rgba(90,150,90,0.8);
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
}

#custom-brightness {
/**/
/**/
     color: #eeeeee;
/*   border: 2px solid rgba(155, 155, 155, 1); */
/*     background-color: rgba(0, 0, 0, 0.8); */
/*     border-radius:20; */
}

#group3 {

    color: #eeeeee;
  /* border: 2px solid rgba(155, 155, 155, 1); */
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #338899;
    border-radius:20px;

}


/* cover possible class/id variants Waybar uses when no window is present/focused */


#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#mpris {
    background-color: rgba(113,4,4,0.4);
    border-radius : 20px;
    box-shadow: inset 0 -3px #aa3333;
}

#mpris.paused {
    background-color: rgba(72,36,36,0.4);
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
